<div class="bg-off-white black pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{.heading}}</h2>
    <p class="mb4 mw6">{{.description}}</p>

    <div class="flex-ns mhn2-ns mb3 tc">
      {{ range .blurbs }}
      <div class="ph2-ns w-50-ns canter" style="max-width: 300px">
        <img src="{{.image}}" alt="" class="center db mb3" style="width: 240px; height: 240px; border-radius: 40%; object-fit: cover;">
        <p>{{.text}}</p>
      </div>
      {{ end }}
    </div>
  </div>
</div>
