<div class="pv5 ph3 bg-center cover bg-grey-4 bb b--primary bw1">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6">
          <!-- text scrolling: start invisible, fade in while scrolling up, wait, fade out, wait long, repeat -->
          <!-- three items: each takes 33% time -->
          {{.title_pre}}
          <style type="text/css">            
            @keyframes jumbotron-scroll-anim {
              0%   { opacity: 0; top: 25px; }
              3%   { opacity: 1; top: 0px; }
              30%  { opacity: 1; top: 0px; }
              33%  { opacity: 0; top: 0px; }
              100% { opacity: 0; top: 0px; }
            }
            .jumbotron-text-blank {
              display: inline-block;
              border-bottom: 4px solid var(--primary);
            }
            .jumbotron-text-scroll {
              display: inline-block;
              text-align: center;
            }
            .jumbotron-text-scroll > li {
              opacity: 0;
              text-decoration: none;
              position: relative;
              height: 1em;
              margin-bottom: -1em;
              animation: jumbotron-scroll-anim 6s infinite;
              background: linear-gradient(to right, #1fc9eb 0%, #4b48f1 100%);
              -webkit-background-clip: text;
              background-clip: text;
              color: transparent;
            }
          </style>
          <span class="jumbotron-text-blank">
            <ul class="jumbotron-text-scroll">
              <li style="animation-delay: 0s">{{.item1}}</li>
              <li style="animation-delay: 2s">{{.item2}}</li>
              <li style="animation-delay: 4s">{{.item3}}</li>
            </ul>
          </span>
          {{.title_post}}
        </h1>
      </div>
    </div>
  </div>
</div>
